attrs==21.2.0
numpy==1.18.1
mlflow==1.11.0
setuptools==45.2.0
h5py==2.10.0
keras==2.3.1
joblib==0.17.0
scikit-learn==0.24.1
tensorflow==1.15.4
google-cloud-storage==1.44.0
google-cloud-aiplatform==1.13.0
google-cloud-bigquery
db-dtypes